<div class="bg-[radial-gradient(circle_at_50%_50%,_#f7d3b5,_#ada687)] px-8 md:px-16 lg:px-32 xl:px-48 py-16 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 min-h-[70vh]">
  <div class="border border-black p-4 rounded-md flex flex-col justify-items-start">
    <div class="flex justify-center">
      <i class="bi bi-bug text-4xl"></i>
    </div>
    <div>
      <h2 class="text-center text-2xl mb-4">Jak poprawić błąd w ankiecie?</h2>
      <p>Po wejściu w zakładkę Moje Konto można zobaczyć tam dwie zakładki. Jedną z nich jest Zmodyfikuj Ankietę, po kliknięciu w przycisk zostanie wyświetlona Twoja ankieta i można w mniej poprawić informacje.</p>
    </div>
  </div>
  <div class="border border-black p-4 rounded-md flex flex-col justify-items-start">
    <div class="flex justify-center">
      <i class="bi bi-clock text-4xl"></i>
    </div>
    <div>
      <h2 class="text-center text-2xl mb-4">Ile trwają usługi?</h2>
      <p>Wszystkie makijaże poza makijażem artystycznym trwają od 1 godz do 1,5 godz, w zależności od wizji klienta. Na czas pracy także wpływa to czy klientka ma już zrobione rzęsy (metodami 2D, 3D itd.) czy brwi (henna lub permanentne), wtedy czas pracy jest na pewno krótszy. Makijaż artystyczny trwa zazwyczaj ok. 2 godz lub dłużej, zależy od wizji klienta, wtedy jestem w stanie oszacować czas owej usługi o czym informuje z wyprzedzeniem. Makijaże próbne jednak mogą trwać trochę dłużej, z racji iż można wtedy sobie pozwolić na drobne eksperymenty, próbować różnych wariantów.</p>
    </div>
  </div>
  <div class="border border-black p-4 rounded-md flex flex-col justify-items-start">
    <div class="flex justify-center">
      <i class="bi bi-wallet text-4xl"></i>
    </div>
    <div>
      <h2 class="text-center text-2xl mb-4">Jakie są opcje płatności?</h2>
      <p>Przyjmuje gotówkę jak i przelewy blik bądź tradycyjne.</p>
    </div>
  </div>
</div>
<lib-footer footerStyle="dark" />