<div class="bg-[radial-gradient(circle_at_50%_50%,_#f7d3b5,_#ada687)] px-8 md:px-16 lg:px-32 xl:px-48">
  <div class="flex justify-center py-12" [@fade-in-hero]="heroState()">
    <div class="grid grid-cols-1 sm:grid-cols-2 3 gap-x-4 justify-items-center items-center">
      <div class="order-2 sm:order-1">
        <div class="mb-8">
          <h2 class="text-5xl mb-4">
            Kreatywne i Precyzyjne Wykonanie Wizażu
          </h2>
          <p class="text-xl font-light">
            Zajmujemy się wykonywaniem makijażu na najwyższym poziomie, dbając o najmniejsze szczegóły i podchodząc do każdej klientki w unikalny sposób, co gwarantuje niesamowite rezultaty.
          </p>
        </div>
        <div>
          <lib-auth-actions />
        </div>
      </div>
      <div class="order-1 sm:order-2 mb-8 md:mb-0">
        <img 
          ngSrc="w_1200,c_fill/hero-image_cl5qmd.jpg"
          width="400"
          height="600"
          priority
          alt="hero-image"
          class="rounded-md"
        >
      </div>
    </div>
  </div>
  <div class="py-16">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div [@fade-in-feature-one]="featureOneState()">
        <div class="text-white bg-black w-[40px] h-[40px] rounded-md flex justify-center items-center text-lg mb-2">
          <i class="bi bi-trophy"></i>
        </div>
        <h3 class="text-2xl">Profesjonalne podejście</h3>
        <p>
          Dla nas każda klientka jest wyjątkowa, a spełnianie jej oczekiwań to nasz priorytet.
        </p>
      </div>
      <div [@fade-in-feature-two]="featureTwoState()">
        <div class="text-white bg-black w-[40px] h-[40px] rounded-md flex justify-center items-center text-lg mb-2">
          <i class="bi bi-heart"></i>
        </div>
        <h3 class="text-2xl">Niezwykłe efekty</h3>
        <p>
          Naszym priorytetem jest spełnianie oczekiwań klientek, aby osiągnięty efekt był niezapomniany i zapierał dech w piersiach.
        </p>
      </div>
      <div [@fade-in-feature-three]="featureThreeState()">
        <div class="text-white bg-black w-[40px] h-[40px] rounded-md flex justify-center items-center text-lg mb-2">
          <i class="bi bi-star"></i>
        </div>
        <h3 class="text-2xl">Wysoka jakość</h3>
        <p>
          Wykorzystujemy najwyższej jakości produkty, co przekłada się na spektakularne efekty.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="bg-black px-8 md:px-16 lg:px-32 xl:px-48">
  <div 
    class="flex justify-center py-12" 
    (appInViewport)="aboutMeInView()"
    [@fade-in-about-me]="aboutMeState()"
  >
    <div class="grid grid-cols-1 lg:grid-cols-2 3 gap-x-4 justify-items-center">
      <div class="mb-4 lg:mb-0">
        <img 
          ngSrc="v1739556670/makijaz-fotograficzny_aatgeq.jpg"
          width="400"
          height="600"
          priority
          alt="about-me"
          class="rounded-md"
        >
      </div>
      <div>
        <div class="mb-8">
          <h2 class="text-4xl mb-4 text-white">
            Kilka słów o mnie
          </h2>
          <p class="text-lg font-light text-white text-justify">
            Jestem Martyna, mam 19 lat i wizażem interesuję się od małego dzieciaka, ale przygoda z makijażami gdzie to zaczynało mieć ręce i nogi zaczęła się w 2016 roku, po czym w 2019 roku podjęłam decyzję iż chce zajmować się wizażem zawodowo.
            Od 3 lat zabrałam się za to na poważnie, zaczęłam zwiększać swoją wiedzę i doświadczenie w tym temacie, od zawsze byłam samoukiem ale zdecydowałam się także na szkolenia i kursy pod okiem profesjonalistów, aby moje usługi były na coraz większym poziomie. Zdecydowałam się również na roczny kurs w szkole makijażu Biar Beauty, która jest uznana za najlepszą szkołę wizażu na Śląsku oraz jedną z najlepszych w Polsce.
            Na dzień obecny jestem na l roku kursu z dwóch dostępnych w Biar Beauty i planuje po jego ukończeniu uczęszczać na ll rok i nie tylko, by jeszcze bardziej zwiększać swoje umiejętności, doświadczenie jak i zakres wiedzy w temacie wizażu, a co za tym idzie by zwiększać coraz bardziej poziom moich usług na czym mi bardzo zależy.
            Posiadam także kurs z laminacji brwi i rzęs, w niedalekiej przyszłości planuje wprowadzić takie usługi do mojej oferty.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-[radial-gradient(circle_at_50%_50%,_#f7d3b5,_#ada687)] px-8 md:px-16 lg:px-32 xl:px-48 py-16">
  <div class="mb-8">
    <h2 class="text-center text-3xl">U nas znajdziesz wszystko czego potrzebujesz</h2>
  </div>
  <div class="mb-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-16" (appInViewport)="servicesInView()">
      <div class="bg-black rounded-md" [@fade-in-service-one]="serviceOneState()">
        <img 
          ngSrc="v1739556132/makijaz-sylwestrowy_rxvxrv.jpg"
          width="500"
          height="400"
          priority 
          alt="features-seciton-card-one" 
          class="rounded-md w-full object-cover object-top h-[500px]">
        <div class="text-white p-4 min-h-[250px] flex flex-col justify-between">
          <h5 class="text-2xl">Serwisy</h5>
          <p class="text-lg my-4">Zachęcamy do zapoznania się z naszą ofertą, sprawdzenia cennika i skorzystania z naszych usług</p>
          <a routerLink="/price-list" class="border border-white rounded-md px-4 py-2 hover:bg-white hover:text-black ease-in-out transition-all text-center">Wszystkie Serwisy</a>
        </div>
      </div>
      <div class="bg-black rounded-md" [@fade-in-service-two]="serviceTwoState()">
        <img 
          ngSrc="v1739556789/zdj22_con8b0.jpg"
          width="500"
          height="400"
          priority 
          alt="features-seciton-card-two" 
          class="rounded-md w-full object-cover object-top h-[500px]">
        <div class="text-white p-4 min-h-[250px] flex flex-col justify-between">
          <h5 class="text-2xl">Certyfikaty</h5>
          <p class="text-lg my-4">Zapraszam do zapoznania się z moimi certyfikatami, które potwierdzają najwyższą jakość świadczonych przeze mnie usług.</p>
          <a routerLink="/certificates" class="border border-white rounded-md px-4 py-2 hover:bg-white hover:text-black ease-in-out transition-all text-center">Wszystkie Certyfikaty</a>
        </div>
      </div>
      <div class="bg-black rounded-md" [@fade-in-service-three]="serviceThreeState()">
        <img 
          ngSrc="v1739556806/zdj23_sidxw4.jpg"
          width="500"
          height="400"
          priority 
          alt="features-seciton-card-three" 
          class="rounded-md w-full object-cover object-top h-[500px]">
        <div class="text-white p-4 min-h-[250px] flex flex-col justify-between">
          <h5 class="text-2xl">Informacje</h5>
          <p class="text-lg my-4">Jeśli masz wątpliwości dotyczące charakterystyki swojej skóry, kliknij poniższy przycisk.</p>
          <a routerLink="/informations" class="border border-white rounded-md px-4 py-2 hover:bg-white hover:text-black ease-in-out transition-all text-center">Zobacz Informacje</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-black text-white py-16 px-8 md:px-16 lg:px-32 xl:px-48">
  <div class="mb-8" (appInViewport)="ctaInView()" [@fade-in-cta]="ctaState()">
    <h2 class="text-4xl text-center mb-2 font-semibold">
      Zdobądź Się Na Wyżyny Piękności <br />
      Korzystając Z Usług Na Najwyższym Poziomie
    </h2>
    <p class="text-center text-2xl">Wszystko, czego potrzebujesz, aby podkreślić swoje piękno</p>
  </div>
  <div class="text-center">
    <a routerLink="/questionnaire" class="border border-white rounded-md px-4 py-2 hover:bg-white hover:text-black ease-in-out transition-all">Zapisz Się Już Teraz</a>
  </div>
</div>
<lib-footer />