<lib-stepper (submitEmmiter)="handleSubmit()">
  <lib-step>
    <lib-contact-details-step />
  </lib-step>
  <lib-step>
    <lib-allergy-step />
  </lib-step>
  <lib-step>
    <lib-pores-step />
  </lib-step>
  <lib-step>
    <lib-ingredients-step />
  </lib-step>
  <lib-step>
    <lib-disease-step />
  </lib-step>
  <lib-step>
    <lib-make-up-step />
  </lib-step>
  <lib-step>
    <lib-hairdo-step />
  </lib-step>
  <lib-step>
    <lib-make-up-like-step />
  </lib-step>
  <lib-step>
    <lib-cream-step />
  </lib-step>
  <lib-step>
    <lib-date-step />
  </lib-step>
  <lib-step>
    <lib-use-appearance-step />
  </lib-step>
  <lib-step>
    <lib-summary-step />
  </lib-step>
</lib-stepper>
<lib-footer footerStyle="dark" />