<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fridaymake-up - Reset Password</title>

  <style>
    body {
      background-color: #fff;
      color: #000;
      font-family: sans-serif;
      padding: 24px;
    }

    .container {
      border: 1px solid #000;
      padding: 24px;
      max-width: 600px;
      margin: 0 auto;
    }

    .title {
      text-align: center;
    }

    a {
      color: #000;
      text-decoration: none;
      font-style: italic;
    }

    a:hover {
      border-bottom: 1px solid #000;
    }
  </style>
</head>
<body>
  <div class="container">
    <div>
      <h1 class="title">Witaj w Fridaymake-up</h1>
      <p>Aby zresetować hasło, kliknij link poniżej</p>
    </div>
    <div>
      <p>
        <a href="{{ link }}" target="_blank">Zresetuj hało</a>
      </p>
    </div>
  </div>
</body>
</html>